body{
    background-color: rgb(243, 234, 224);
    font-family: "Open Sans", sans-serif;
}


h1 {
    font-weight: bold;
}


p{
    line-height: 1;
}

.gradient-background {
    background: linear-gradient(300deg, #ed7d31, #ff4f03, #ecab80);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.list-text {
    font-size: x-large;
}

.nav-pills > li > a.active {
    background-color: #ff5b1f !important;
}

.nav-pills > .sub-item > a.nav-link {
    color: #ff5b1f !important;
}


.table-color{
    background:rgb(235, 168, 92);
}

.btn-outline-success {
    border-color: #ff5b1f !important;
    color: #ff5b1f !important;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    border-color: #ff5b1f !important;
    background-color: #ff5b1f !important;
    color: white !important;
}

.move-btn:hover{
    border-color: #ff5b1f !important;
}

.browse-buttons{
    background-color: transparent !important;
    border: none !important;
}

.browse-buttons:hover{
    border-color: #ff5b1f !important;
}

#movie-number{
    width: 60px;
}

#page-display{
    border: none;
    color: black;
}

#year{
    width: 90px;
}

#title {
    background-color: white; /* Set the background color to white */
    border: 1px solid #ccc; /* Add border */
    padding: 5px; /* Add padding */
    width: 200px; /* Set width as needed */
}

#title:focus {
    outline: none; /* Remove default focus outline */
    border-color: blue; /* Change border color on focus */
}

/* Style for the suggestions container */
.autocomplete-suggestions {
    background-color: white; /* White background for the dropdown */
    border: 1px solid #ccc; /* Optional: Add a border */
    max-height: 200px; /* Optional: Set max height for the dropdown */
    overflow-y: auto; /* Optional: Add vertical scroll if needed */
    z-index: 9999; /* Ensure it appears above other elements */
}

/* Style for individual suggestions */
.autocomplete-suggestion {
    padding: 10px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer */
}

/* Highlight style for the selected suggestion */
.autocomplete-suggestion.autocomplete-selected {
    background-color: #f0f0f0; /* Light grey background for selected item */
}